@font-face {
	font-family: "Gotham";
	src: url("../fonts/Gotham-Medium.otf")
	format('truetype');
}

@font-face {
	font-family: "Gotham-Bold";
	src: url("../fonts/Gotham-Bold.otf")
	format('truetype');
}

@font-face {
	font-family: "Gotham-Black";
	src: url("../fonts/Gotham-Black.otf")
	format('truetype');
}

@font-face {
	font-family: "Gotham Book";
	src: url("../fonts/GOTHAMBOOK.TTF")
	format('truetype');
}