@import './_fonts.css';

/* CSS Variables */
:root {
  --primary-color: #003173;
  --primary-color-hover: #E85E0F;
  --secondary-color: rgba(255,229,1,0.7);
  --light-color: #f4f4f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Gotham', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}
h2 {
  font-family: "Gotham";
}
/* Navbar */
.navigation {
  height: 80px;
  background: #fff;
}
ul li {
  list-style-type: none;
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
}
.brand a,
.brand a:visited {
  color: #fff;
  text-decoration: none;
}

.nav-container {
  max-width: 1140px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  font-family: 'Gotham', sans-serif;
  padding: 0 15px;
  line-height: 70px;
  background: #fff;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  /*background: #2581DC;*/
  text-decoration: none;
  color: var(--primary-color-hover);
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #f4f4f4;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 55px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 10px 15px;
    line-height: 20px;
    font-size: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .navigation,
  nav ul li a:visited {
    background: #f4f4f4;
  }
  .nav-dropdown {
    position: static;
  }
  nav ul li a,
  nav ul li a:visited {
    text-transform: none;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--primary-color);
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
/*
icon nav - style

#nav-toggle.active span {
  background-color: transparent;
}
/*
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
/*
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Hero */
.card {
  background-color: var(--secondary-color)!important;
  color: var(--primary-color);
  border: 1px solid var(--secondary-color)!important;
  border-radius: 2.5rem!important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 20px;
}
.padding {
  padding: 30px;
}
.hero {
  display: flex;
  flex-direction: column;
  font-family: 'Gotham';
}
.align-button {
  margin-left: auto;
}
.align-button .cta {
  margin-top: 40px;
  margin-bottom: -160px;
}
.cta {
  background-color: var(--primary-color);
  color: white;
  font-family: 'Gotham';
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 2px;
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: 0.5em 4em;
  width: unset;
  cursor: pointer;
}
.card-title {
  text-transform: uppercase;
  font-family: 'Gotham';
  font-weight: bold;
  padding-top: 20px;
}
.subtitle {
  font-family: 'Gotham-Black', serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
}
.line {
  border-top: 3px solid var(--secondary-color);
  width: 100%;
}
.footer-text {
  color: #2A2A2A;
  font-family: "Gotham Book";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
}

@media screen and (min-width: 992px) {
  /* Istruzioni Destop*/
  .container-yellow {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1090px;
  }
  .item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 20px;
  }
  .item-image img {
    width: 90px;
  }
  .item-text {
    font-family: 'Gotham';
    text-align: left;
    margin-left: 35px;
    margin-top: 15px;
  }
  .item-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 39px;
    letter-spacing: 2px;
  }
  .line-height {
    line-height: 32px;
  }
  .item-title-list h5 {
    font-size: 22px;
    line-height: 25px;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .container-yellow {
    max-width: none;
  }
  .destop {
    display: none;
  }
  .brand {
    margin-top: -10px;
  }
  .cta {
    font-size: 20px;
    padding: 0.5em 1em;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .align-button .cta {
    display: none;
  }
  .card-title {
    font-size: 20px;
    padding-top: 10px;
  }
  .padding {
    padding: 0;
  }
  .features-section {
    flex-direction: column;
  }
  .image-icon {
    width: 50px;
  }
  /* items */
  .item {
    display: flex;
    flex-direction: column;
  }
  .item-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 18px;
  }
  .item-text {
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
  }
  .item-title-list h5 {
    font-size: 20px;
  }
  .image-feature {
    display: flex;
    justify-content: center;
  }
  .item-image img {
    width: 48px;
  }
  .image-feature img {
    width: 100%;
  }
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #f4f4f4;
    padding: 0;
    margin: 0;
  }
  .footer-text {
    text-align: center;
  }
}